.App {
  text-align: center;
}

.app-header{
  height: 15rem;
  padding-top: 3rem;
  background-color: black;
  color: aliceblue;
}

.app-searchBar {
  height: 5rem;
  background-color: black;
}

.new-logo {
width: 100px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
flex-wrap: nowrap;
}

.app-main{
  /* height: 70rem; */
  padding-top: 1rem;
  background-color: white;
  color: black;
}
 
.app-navBar{
  height: 1rem;
  padding-top: 7rem;
  background-color: white;
  color: black;
  margin-bottom: 0rem;
}

.navBar-container {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.arch-link{
  color: white;
}

img {
  margin-bottom: 1rem;
  width: 100%;
}

.increment {
  background-color: lightseagreen;
  border-color: green;
}

.decrement {
  background-color: rgb(249, 148, 126);
  border-color: rgb(191, 37, 4);
}

@media (min-width: 600px) {
  button + button,
  input + button {
    margin-left: 1rem;
  }

  .app-main {
    column-count: 2;
  }
}

@media (min-width: 1000px) {
  .app-main {
    column-count: 3;
  }
}

@media (min-width: 1400px) {
  .app-main {
    column-count: 4;
  }
}